body { margin: 0; padding: 0; }
header { margin: 0; padding: 0; }

/* global typography */
body { font-size: small; font-family: sans-serif; color: hsl(0, 0%, 90%); background: hsl(0, 0%, 15%); text-shadow: 1px 1px 1px black; }
a { color: inherit; text-decoration: none; }
a:hover, a:focus, a:active { color: hsl(0, 0%, 100%); text-shadow: 1px 1px 1px black, 0 0 2px white; }


/* header layout and legend */
body > header { margin: 0; padding: 1em; text-shadow: 0 0 2px gray; }
body > header > h1 { margin: 0; padding: 0; }
body > header > h1 > a { color: inherit; text-decoration: none; }
body > header > h1 > a:hover, body > header > h1 > a:focus, body > header > h1 > a:active { text-decoration: underline; }
body > header > p { margin: 0; padding: 0; }

ul#legend { overflow: hidden; width: 36em; position: absolute; top: 1.5em; right: 2em;
	margin: 0; padding: 0; list-style: none; font-size: 0.77em; }
ul#legend > li { float: left; width: 15em; margin: 0; padding: 0 0 0.5em 3em; position: relative;
	white-space: pre; text-overflow: ellipsis; overflow: hidden; }
ul#legend > li::before { content: ''; position: absolute; left: 0.75em; top: 0.125em; width: 1.5em; height: 1em; border-radius: 3px; }
ul#legend > li[title] > span { border-bottom: 1px dotted gray; }


/* basic tile layout */
section#tiles { min-width: 920px; margin: 10px 0 10px 10px; padding: 0; position: relative; }
section#tiles > article { box-sizing: border-box;  padding: 3px; overflow: auto; border-radius: 5px; }
section#tiles > article { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* tile typography and color */
section#tiles > article { background: #204a87; }
section#tiles > article.official, ul#legend > li.official::before { background: #ce5c00; }
section#tiles > article.official.changing, ul#legend > li.official.changing::before { background: #a40000; }
section#tiles > article.social, ul#legend > li.social::before { background: #4e9a06; }
section#tiles > article.misc, ul#legend > li.misc::before {background: #204a87; }
section#tiles > article.projects, ul#legend > li.projects::before {background: #5c4566; }

section#tiles > article {  }
section#tiles small { font-size: 0.77em; text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5); }
section#tiles h2 { font-size: inherit; margin: 0 0 0.5em 0; padding: 0; }
section#tiles ul { margin: 0.5em 0; padding: 0 0 0 1em; list-style: none; }
section#tiles ul > li { position: relative; margin: 0.25em 0; padding: 0; }
section#tiles ul > li::before { content: '•'; position: absolute; left: -0.9em; top: 0; }
section#tiles ul > li > small { display: block; }
section#tiles ul > li > ul { margin: 0.125em 0 0.5em 0; }
section#tiles p { margin: 0.5em 0; }

section#tiles span.count { font-size: 0.77em; vertical-align: 0.15em; padding: 0 0.5em; background: hsl(0, 0%, 85%); border-radius: 5px; color: hsl(0, 0%, 15%); text-shadow: 1px 1px 1px hsl(0, 0%, 100%); }
section#tiles a:hover span.count, section#tiles a:focus span.count, section#tiles a:active span.count { background: white; }


/* individual tile styles */
article#official-news ul:first-of-type { line-height: 1.4; }
article#official-news ul:first-of-type li { margin: 0; padding: 0; }
article#official-news ul:first-of-type li a { display: block; white-space: pre; text-overflow: ellipsis; overflow: hidden; }
article#official-news ul:nth-of-type(2) { margin: 0; padding: 0; }
article#official-news ul:nth-of-type(2) li { display: inline; margin: 0 1em 0 0; padding: 0; }
article#official-news ul:nth-of-type(2) li::before { content: ''; }
article#official-news p.empty { display: none; margin: 8em 2em 0 2em; padding: 0; text-align: center; font-size: 0.77em; }

article#schedule table { table-layout: fixed; border-collapse: collapse; }
article#schedule table tr > *:nth-child(1) { width: 35px; padding-right: 5px; }
article#schedule table tr > *:nth-child(1n + 2) { width: 90px; }
article#schedule table tr:nth-child(1n + 2) { height: 45px; }

article#schedule table th { font-weight: normal; }
article#schedule table tr > th:first-child { text-align: right; }
article#schedule table td { padding: 1px; border: 1px solid hsla(0, 0%, 100%, 0.2); }
article#schedule table td.conflict { font-size: 0.77em; }
article#schedule table td.changed { font-weight: bold; background: hsla(0, 0%, 100%, 0.1); }
article#schedule table td > a { display: block; width: 88px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

article#schedule table tr:nth-child(5) td { background: hsla(0, 0%, 0%, 0.1); }

/*
article#project-activities dl { margin: 0.5em 0; padding: 0; }
article#project-activities dl dt {}

article#recordings ul > li > a, article#recordings ul > li > small { display: inline; }
article#recordings ul ul { font-size: 0.77em; }
article#recordings ul ul a { display: block; overflow: hidden; text-overflow: ellipsis; white-space: pre; }

article#publications li a, article#events li a { display: block; overflow: hidden; text-overflow: ellipsis; white-space: pre; }
*/

/* Messi tile, uses the Ubuntu Mono icons: https://launchpad.net/ubuntu/quantal/+source/ubuntu-mono (CC BY-SA 3.0) */
article#messi h2 { float: left; }
article#messi p { display: none; margin: 0; padding: 0; text-align: right; }
article#messi a.active { margin: 0 0.25em; padding: 0 0.25em; background: hsla(0, 0%, 100%, 0.25); border-radius: 3px; }
article#messi ul { clear: left; padding: 0; }
article#messi ul ul { margin: -1px 0 0.5em 0; padding: 0 0 0 22px; border-top: 1px solid hsla(0, 0%, 100%, 0.25); }
article#messi ul ul > li { margin: 0.25em 0px; }
article#messi ul li::before { content: ' '; left: -20px; top: 1px; width: 16px; height: 16px; background-repeat: no-repeat; }
article#messi li.available::before { background-image: url(empathy-available.svg); }
article#messi li.away::before { background-image: url(empathy-away.svg); }
article#messi li.chat::before { background-image: url(empathy-available.svg); } /* The entity or resource is actively interested in chatting */
article#messi li.dnd::before { background-image: url(empathy-busy.svg); } /* The entity or resource is busy (dnd = "Do Not Disturb") */
article#messi li.xa::before { background-image: url(empathy-extended-away.svg); } /* The entity or resource is away for an extended period (xa = "eXtended Away") */
article#messi li.unavailable::before, article#messi li.unknown::before { background-image: url(empathy-offline.svg); }

article#messi.loading > ul::before, article#messi.failed > ul::before { display: block; padding: 5em 3em; text-align: center; font-size: 0.77em; }
article#messi.loading > ul::before { content: 'Krake sammelt Kontakte…'; }
article#messi.failed > ul::before { content: 'Sorry, die Krake hat gerade keine Lust. Maschienen machen manchmal komische Dinge. Bitte lad die Seite einfach noch mal neu…'; }


article#mensa {}
article#mensa h2 > a { display: block; overflow: hidden; white-space: pre; text-overflow: ellipsis; }
article#mensa ul > li { margin: 0.125em 0; }
article#mensa ul > li > span { display: block; white-space: pre; overflow: hidden; text-overflow: ellipsis; }


/* details overlay */
.template { display: none; }
div#details.inactive { display: none; }

div#details { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.75); }
div#details > article { width: 50em; margin: 10em auto 0 auto; padding: 0.5em; box-sizing: border-box;
	background: #a40000; border-radius: 10px; box-shadow: 5px 5px 15px black; }
div#details > article > h2 { font-size: 1.25em; margin: 0; padding: 0; }
div#details > article > p.details { margin: 0 0 0.5em 0; padding: 0; }
div#details > article > div { margin: 0; padding: 0.5em; color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%); border-radius: 5px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); text-shadow: none; }
div#details > article > div > *:first-child { margin-top: 0; }
div#details > article > div > *:last-child { margin-bottom: 0; }
div#details > article > p.actions { margin: 0; padding: 0.5em 0 0 0; text-align: right; }
div#details > article > p.actions a { margin-left: 2em; color: inherit; text-decoration: none; }

div#details > article { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

