AuthType	Basic
AuthName	"Bitte melde dich mit deinem HdM-Account an"
AuthBasicProvider	file
AuthUserFile	/home/steven/projects/hdm-sammelkrake/local-passwd
Require	valid-user

RewriteEngine	on
RewriteRule	^messi\.json$	messi\.json\.php	[last,qsappend,B]
RewriteRule	^newsgroup/([^/]+)\.json$	newsgroup\.json\.php?id=$1	[last,qsappend,B]
#RewriteRule	^mail/([^./]+)\.json$	mail\.json\.php?id=$1	[last,qsappend,B]